* {
  margin: 0;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.master {
  text-align: center;
  justify-content: center;
  display: grid;
}

.container {
  display: flex;
}

.wrapper {
  text-align: center;
  padding: 20px;
}

.input,
.button {
  padding: 5px 10px;
  font-size: 14px;
  border-radius: 10px;
}

.input {
  outline: none;
}

.button {
  cursor: pointer;
}

.sent {
  text-align: right;
  background-color: rgb(142, 142, 142);
  padding: 10px;
  border-radius: 10px;
}

.received {
  text-align: left;
  background-color: rgb(185, 185, 185);
  padding: 10px;
  border-radius: 10px;
}
