* {
  margin: 0;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.master {
  text-align: center;
  justify-content: center;
  display: flex;
}

.container {
  text-align: center;
  padding: 20px;
}

.input,
.button {
  padding: 5px 10px;
  font-size: 14px;
  border-radius: 10px;
}

.input {
  outline: none;
}

.button {
  cursor: pointer;
}
